.shopping-tools-container {
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .shopping-tools-container {
        padding: 0 32px;
    }
}

@media screen and (min-width: 1025px) {
    .shopping-tools-container {
        padding: 0 56px;
    }
}

.tools-container {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
}

@media screen and (min-width: 768px) {
    .tools-container {
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(14%, 1fr));
    }
}

.tool-btn {
    align-items: center;
    background: #f6f6f6;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    height: 164px;
    justify-content: flex-end;
    padding: 30px 12px;
    text-decoration: none;
}

.tool-headline {
    color: #232323;
    font-family: AvenirNextDemi, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
}

.tool-icon {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    margin-bottom: 10px;
    transition: all ease-in-out 0.2s;
    width: 70px;
}

@media screen and (min-width: 1025px) {
    .tool-icon {
        height: 90px;
        width: 90px;
    }
}

@media screen and (min-width: 1025px) {
    .shopping-tools-container {
        padding: 0 56px;
    }
}

.shopping-title {
    color: #232323;
    font-family: AvenirNextDemi, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: left;
}

.tool-btn:hover .tool-icon {
    transform: scale(1.1);
}

.tool-btn .tool-icon {
    transition: transform 0.2s;
}